# Տվյալների մշակում և վերլուծում Pandas գրադարանի միջոցով

Pandas-ը Python-ի հզոր գրադարան է տվյալների վերլուծության և մշակման համար: Այն առաջարկում է տվյալների կառուցվածքային երկու հիմնական տեսակ՝ հաջորդականություն (Series) միաչափ տվյալների և աղյուսակ (DataFrame) երկչափ տվյալների հետ աշխատելու համար։ Այն թույլ է տալիս արդյունավետորեն աշխատել կարգավորված տվյալների հետ:

Pandas-ի հիմնական առավելություններն են՝

1. Տվյալների արագ ընթերցում և գրում տարբեր ֆորմատներից (CSV, Excel, SQL և այլն)
2. Տվյալների արդյունավետ մաքրում և նախապատրաստում
3. Հզոր գործիքներ տվյալների ֆիլտրման, խմբավորման և միավորման համար
4. Ժամանակային հաջորդականությունների  վերլուծության լայն հնարավորություններ
5. Ինտեգրում այլ գիտական հաշվարկների գրադարանների հետ, ինչպիսիք են NumPy-ն և Matplotlib-ը

Pandas-ը լայնորեն օգտագործվում է տվյալագիտության, մեքենայական ուսուցման և ֆինանսական վերլուծության ոլորտներում:

Pandas գրադարանը ներմուծում ենք հետևյալ հրամանով։

In [186]:
import pandas as pd

## Աշխատանք աղուսակների հետ DataFrame-ների միջոցով

"arm-salaries.xlsx" Excel ֆայլը պարունակում է տվյալներ Հայաստանի միջին աշխատավարձերի մասին: Այս տվյալները ներկայացված են եռամսյակային կտրվածքով, սկսած 2018 թվականից: Տվյալները վերցվել են [armstat.am](https://www.armstat.am/) կայքից։

Նախքան սկսելը, անհրաժեշտ է կատարել հետևյալ նախապատրաստական քայլերը՝

1. Ստեղծեք նոր պանակ (folder) "data" անունով ձեր Jupyter notebook-ի գտնվելու պանակում:
2. Տեղադրեք "arm-salaries.xlsx" ֆայլը այդ նոր ստեղծված "data" պանակի մեջ:

Այս քայլերը կարևոր են ֆայլերի կազմակերպված կառուցվածք ունենալու և հետագայում տվյալները հեշտությամբ հասանելի դարձնելու համար: Այս կերպ, երբ դուք օգտագործեք `pd.read_excel()` ֆունկցիան ֆայլը բեռնելու համար, կարող եք հղում անել ֆայլին հետևյալ  ուղիով (path)՝ "data/arm-salaries.xlsx":

[pd.read_excel()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) ֆունկցիան Pandas գրադարանի կարևոր գործիքներից մեկն է, որը թույլ է տալիս հեշտությամբ ներմուծել տվյալներ Excel ֆայլերից: Այս ֆունկցիան օգտագործելով՝ դուք կարող եք արագորեն և արդյունավետորեն բեռնել "arm-salaries.xlsx" ֆայլի բովանդակությունը DataFrame-ի մեջ:

In [187]:
pd.read_excel("data/arm-salaries.xlsx")

,"ՄԻՋԻՆ ԱՄՍԱԿԱՆ ԱՆՎԱՆԱԿԱՆ ԱՇԽԱՏԱՎԱՐՁՆ ԸՍՏ ՄԱՐԶԵՐԻ, դրամ",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Mean Monthly Nominal Wages/Salaries by Marzes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Среднемесячная номинальная заработная плата по...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Մարզեր,Marzes,Марзы,2018,NaN,NaN,NaN,2019,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,2024,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,...,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,I,II,III,IV,I,II,...,III,IV,I,II,III,IV,I ,II,III,IV
5,Ընդամենը Total Всего,Ընդամենը,Total,Всего,166927,167974,171155,183900,174064,179354,...,238690,264751,261495,261261,265544,290877,282879,275269,NaN,NaN
6,NaN,Երևան,Yerevan city,г. Ереван,188884,188593,193130,207216,193207,197943,...,271443,301800,300560,293342,301610,329607,324233,309877,NaN,NaN
7,NaN,Արագածոտն,Aragatsotn,Арагацотн,104323,103730,106092,107954,110529,109975,...,132911,141398,137561,140535,146141,167702,156589,155176,NaN,NaN
8,NaN,Արարատ,Ararat,Арарат,118163,120553,128128,130694,157228,170059,...,196975,207485,198541,204533,198361,208910,200997,206424,NaN,NaN
9,NaN,Արմավիր,Armavir,Армавир,125511,128340,125804,136065,128932,131208,...,148252,158486,156817,165157,171613,182063,168715,176905,NaN,NaN
10,NaN,Գեղարքունիք,Gegharkunik,Гегаркуник,108588,107001,108293,112507,110984,111312,...,128663,133657,132647,133386,137430,150653,141040,141849,NaN,NaN
11,NaN,Լոռի,Lori,Лори,118884,110818,110855,115907,111903,115811,...,138888,140372,142470,145933,153574,164651,159218,158237,NaN,NaN
12,NaN,Կոտայք,Kotayk,Котайк,131135,127095,131562,140401,132389,134260,...,164058,178218,169871,174184,179328,197346,185618,187377,NaN,NaN
13,NaN,Շիրակ,Shirak,Ширак,104962,106082,106319,110836,105595,108162,...,129402,136737,131495,139023,143448,153295,141238,148926,NaN,NaN
14,NaN,Սյունիք,Syunik,Сюник,205894,237152,226752,266506,245072,271251,...,276580,325334,272527,366044,292386,347642,294704,349924,NaN,NaN
15,NaN,Վայոց Ձոր,Vayots Dzor,Вайоц дзор,112407,119450,119695,120883,122376,125110,...,157414,169828,159952,164200,174365,184603,170935,173904,NaN,NaN
16,NaN,Տավուշ,Tavush,Тавуш,113628,115949,114917,117571,114958,115230,...,150175,176994,191442,198282,194778,212254,202089,200285,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Աղբյուրը ՀՀ պետական եկամուտների կոմիտեի Եկամտա...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Source of information is the Database of the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Источником информации является база данных Под...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Սակայն այս աղյուսակը պարունակում է բազմաթիվ տվյալներ, որոնք մեզ անհրաժեշտ չեն։ Որպես վերջնարդյունք ուզում ենք ունենալ `E`-ից `AD` սյունակներում և 7-ից 18 տողերում պարունակվող տվյալները։ Ուզում ենք նաև շրջել աղյուսակը այնպես, որ ամեն սյունակները պարունակեն ամեն մարզի աշխատավարձը, իսկ տողերը տվյալ եռամսյակի, օգտագործելով մարզերի անգլերեն անվանումները որպես սյուների անվանում, իսկ ամեն եռամսյակի ամսաթիվը որպես տողերի անուն։

Սկսենք մաքրել տվյալները։ Նախ ընտրենք մեզ անհրաժեշտ թերթը։ `sheet_name` արգումենտը թույլ է տալիս նշել, թե Excel ֆայլի որ թերթից (sheet) պետք է կարդալ տվյալները: Այնուհետև նշենք, որ տվյալ դեպքում Excel-ի ֆայլը չի պարունակում սյունակների անվանումներ, քանի-որ դրանք ինքներս ենք ավելացնելու հետագա քայլերում։ `header` արգումենտն է, որ որոշում է, թե որ տողն է պարունակում սյունակների անվանումները: Տալով նրան `None` հատուկ արժեքը, նշում ենք, որ սյուները չունեն անվանումներ։

In [188]:
pd.read_excel("data/arm-salaries.xlsx", sheet_name=0, header=None)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,ՄԻՋԻՆ ԱՄՍԱԿԱՆ ԱՆՎԱՆԱԿԱՆ ԱՇԽԱՏԱՎԱՐՁՆ ԸՍՏ ՄԱՐԶԵՐ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mean Monthly Nominal Wages/Salaries by Marzes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Среднемесячная номинальная заработная плата по...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Մարզեր,Marzes,Марзы,2018,NaN,NaN,NaN,2019,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,2024,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,...,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,I,II,III,IV,I,II,...,III,IV,I,II,III,IV,I ,II,III,IV
6,Ընդամենը Total Всего,Ընդամենը,Total,Всего,166927,167974,171155,183900,174064,179354,...,238690,264751,261495,261261,265544,290877,282879,275269,NaN,NaN
7,NaN,Երևան,Yerevan city,г. Ереван,188884,188593,193130,207216,193207,197943,...,271443,301800,300560,293342,301610,329607,324233,309877,NaN,NaN
8,NaN,Արագածոտն,Aragatsotn,Арагацотн,104323,103730,106092,107954,110529,109975,...,132911,141398,137561,140535,146141,167702,156589,155176,NaN,NaN
9,NaN,Արարատ,Ararat,Арарат,118163,120553,128128,130694,157228,170059,...,196975,207485,198541,204533,198361,208910,200997,206424,NaN,NaN
10,NaN,Արմավիր,Armavir,Армавир,125511,128340,125804,136065,128932,131208,...,148252,158486,156817,165157,171613,182063,168715,176905,NaN,NaN
11,NaN,Գեղարքունիք,Gegharkunik,Гегаркуник,108588,107001,108293,112507,110984,111312,...,128663,133657,132647,133386,137430,150653,141040,141849,NaN,NaN
12,NaN,Լոռի,Lori,Лори,118884,110818,110855,115907,111903,115811,...,138888,140372,142470,145933,153574,164651,159218,158237,NaN,NaN
13,NaN,Կոտայք,Kotayk,Котайк,131135,127095,131562,140401,132389,134260,...,164058,178218,169871,174184,179328,197346,185618,187377,NaN,NaN
14,NaN,Շիրակ,Shirak,Ширак,104962,106082,106319,110836,105595,108162,...,129402,136737,131495,139023,143448,153295,141238,148926,NaN,NaN
15,NaN,Սյունիք,Syunik,Сюник,205894,237152,226752,266506,245072,271251,...,276580,325334,272527,366044,292386,347642,294704,349924,NaN,NaN
16,NaN,Վայոց Ձոր,Vayots Dzor,Вайоц дзор,112407,119450,119695,120883,122376,125110,...,157414,169828,159952,164200,174365,184603,170935,173904,NaN,NaN
17,NaN,Տավուշ,Tavush,Тавуш,113628,115949,114917,117571,114958,115230,...,150175,176994,191442,198282,194778,212254,202089,200285,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Աղբյուրը ՀՀ պետական եկամուտների կոմիտեի Եկամտա...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Source of information is the Database of the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Источником информации является база данных Под...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Նշելու համար թե, որ սյունակներն են մեզ անհրաժեշտ աղյուսակից, օգտագործենք `usecols` և `index_col` արգումենտները։ `usecols` արգումենտը թույլ է տալիս նշել, թե կոնկրետ որ սյունակները պետք է ներմուծել Excel ֆայլից: 
`index_col` արգումենտը օգտագործվում է նշելու համար, թե որ սյունակը պետք է օգտագործվի որպես DataFrame-ի ինդեքս, այսինք, տողերի անվանում: Նշենք, որ `index_col`-ի դեպքում, պետք է նշել արդեն ֆլիտրված տվյալներում տվյալի տողի ունեցած համարը։

In [189]:
pd.read_excel("data/arm-salaries.xlsx", sheet_name=0, header=None, usecols="C,E:AD",  index_col=0)

,4,5,6,7,8,9,10,11,12,13,...,20,21,22,23,24,25,26,27,28,29
2,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marzes,2018,NaN,NaN,NaN,2019,NaN,NaN,NaN,2020,NaN,...,2022,NaN,NaN,NaN,2023,NaN,NaN,NaN,2024,NaN
NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,...,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN,NaN,NaN,Եռամսյակ-Quarter-Квартал,NaN
NaN,I,II,III,IV,I,II,III,IV,I,II,...,I,II,III,IV,I,II,III,IV,I ,II
Total,166927,167974,171155,183900,174064,179354,182189,194117,190109,182615,...,212767,224291,238690,264751,261495,261261,265544,290877,282879,275269
Yerevan city,188884,188593,193130,207216,193207,197943,200881,212948,209610,198574,...,238819,249810,271443,301800,300560,293342,301610,329607,324233,309877
Aragatsotn,104323,103730,106092,107954,110529,109975,113474,119932,116662,115658,...,124322,129307,132911,141398,137561,140535,146141,167702,156589,155176
Ararat,118163,120553,128128,130694,157228,170059,168916,175153,171310,182106,...,180577,189695,196975,207485,198541,204533,198361,208910,200997,206424
Armavir,125511,128340,125804,136065,128932,131208,133198,146636,139350,133326,...,140507,146729,148252,158486,156817,165157,171613,182063,168715,176905
Gegharkunik,108588,107001,108293,112507,110984,111312,114544,120846,122007,117600,...,124227,125142,128663,133657,132647,133386,137430,150653,141040,141849
Lori,118884,110818,110855,115907,111903,115811,134435,134124,128821,122077,...,136011,134507,138888,140372,142470,145933,153574,164651,159218,158237
Kotayk,131135,127095,131562,140401,132389,134260,135225,147271,142433,138968,...,153014,158825,164058,178218,169871,174184,179328,197346,185618,187377
Shirak,104962,106082,106319,110836,105595,108162,112190,117278,115396,114309,...,120909,123279,129402,136737,131495,139023,143448,153295,141238,148926
Syunik,205894,237152,226752,266506,245072,271251,156143,293454,264447,282591,...,272296,343063,276580,325334,272527,366044,292386,347642,294704,349924
Vayots Dzor,112407,119450,119695,120883,122376,125110,127518,131555,132278,128354,...,141338,145302,157414,169828,159952,164200,174365,184603,170935,173904
Tavush,113628,115949,114917,117571,114958,115230,119036,124228,123948,120528,...,127478,134136,150175,176994,191442,198282,194778,212254,202089,200285
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

`skiprows` արգումենտի միջոցով կարող ենք ֆիլտեր աղյուսակի սկզբից n տող, իսկ `skipfooter` միջոցով աղյուսակի վերջից։

In [190]:
pd.read_excel("data/arm-salaries.xlsx", sheet_name=0, header=None, usecols="C,E:AD", index_col=0, skiprows=7, skipfooter=6)

,4,5,6,7,8,9,10,11,12,13,...,20,21,22,23,24,25,26,27,28,29
2,,,,,,,,,,,,,,,,,,,,,
Yerevan city,188884,188593,193130,207216,193207,197943,200881,212948,209610,198574,...,238819,249810,271443,301800,300560,293342,301610,329607,324233,309877
Aragatsotn,104323,103730,106092,107954,110529,109975,113474,119932,116662,115658,...,124322,129307,132911,141398,137561,140535,146141,167702,156589,155176
Ararat,118163,120553,128128,130694,157228,170059,168916,175153,171310,182106,...,180577,189695,196975,207485,198541,204533,198361,208910,200997,206424
Armavir,125511,128340,125804,136065,128932,131208,133198,146636,139350,133326,...,140507,146729,148252,158486,156817,165157,171613,182063,168715,176905
Gegharkunik,108588,107001,108293,112507,110984,111312,114544,120846,122007,117600,...,124227,125142,128663,133657,132647,133386,137430,150653,141040,141849
Lori,118884,110818,110855,115907,111903,115811,134435,134124,128821,122077,...,136011,134507,138888,140372,142470,145933,153574,164651,159218,158237
Kotayk,131135,127095,131562,140401,132389,134260,135225,147271,142433,138968,...,153014,158825,164058,178218,169871,174184,179328,197346,185618,187377
Shirak,104962,106082,106319,110836,105595,108162,112190,117278,115396,114309,...,120909,123279,129402,136737,131495,139023,143448,153295,141238,148926
Syunik,205894,237152,226752,266506,245072,271251,156143,293454,264447,282591,...,272296,343063,276580,325334,272527,366044,292386,347642,294704,349924
Vayots Dzor,112407,119450,119695,120883,122376,125110,127518,131555,132278,128354,...,141338,145302,157414,169828,159952,164200,174365,184603,170935,173904
Tavush,113628,115949,114917,117571,114958,115230,119036,124228,123948,120528,...,127478,134136,150175,176994,191442,198282,194778,212254,202089,200285

Սյունակների անվանումները ստեղծելու համար, օգտվենք [pd.date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html) ֆունկցիայից։ Այս ֆունկցիան թույլ է տալիս գեներացնել սահմանված ժամանակահատվածի համար ամսաթվերի հաջորդականություն որոշակի հաճախությոամբ: Այն վերադարձնում է [DatetimeIndex](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html) օբյեկտ, որը Pandas-ի հատուկ ինդեքսի տեսակ է, նախատեսված ամսաթվերի և ժամանակների հետ աշխատելու համար: Այս ֆունկցիային որպես արգումենտ տալիս ենք ժամանակահատվածի սկիզբը և վերջը, որպես `string` (տեքստ) և `freq` արգումենտի միջոցով սահմանում ենք վերադարձվող ամսաթվերի հաճախությունը։ Քանի-որ մեր տվյալները եռամսյակային են, օգտագործել ենք `'QS'` հաճախությունը, որը նշանակում է "Quarter Start" ("Եռամսյակի սկիզբ")։

In [191]:
pd.date_range("20180101", "20240601", freq="QS")

DatetimeIndex(['2018-01-01', '2018-04-01', '2018-07-01', '2018-10-01',
               '2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01',
               '2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01',
               '2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01',
               '2022-01-01', '2022-04-01', '2022-07-01', '2022-10-01',
               '2023-01-01', '2023-04-01', '2023-07-01', '2023-10-01',
               '2024-01-01', '2024-04-01'],
              dtype='datetime64[ns]', freq='QS-JAN')

Ստանանք վերջնական սյունակների անվանումները զանգվածի տեսքով։ Առաջին սյան անվանումը պետք է թողնել դատարկ, քանի-որ այն պարունակում է մարզերի անվանումները։ Մնացած սյուների անվանումները ամսաթվերն են։ Քանի-որ [DatetimeIndex](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html)-ը նաև numpy-ի զանգված է, նրանից զանգված ստանալու համար կարող ենք կանչել `.tolist()` ֆունկցիան։

In [192]:
quarters = [''] + pd.date_range("20180101", "20240601", freq="QS").tolist()
quarters[:5]

['',
 Timestamp('2018-01-01 00:00:00'),
 Timestamp('2018-04-01 00:00:00'),
 Timestamp('2018-07-01 00:00:00'),
 Timestamp('2018-10-01 00:00:00')]

[timestamp](https://en.wikipedia.org/wiki/Unix_time)-ը կոնկրետ պահի ճշգրիտ գրանցումն է ժամանակի մեջ: Այն սովորաբար ներկայացվում է որպես թվային արժեք, որը ցույց է տալիս, թե քանի վայրկյան է անցել ժամանակի որոշակի սկզբնակետից (սովորաբար Unix Epoch-ից, որը 1970 թվականի հունվարի 1-ն է) մինչև տվյալ պահը: timestamp-ը օգտագործվում է համակարգչային համակարգերում իրադարձությունները ճշգրիտ ժամանակագրելու համար:

Աղյուսակի սյուների անվանումները տալու համար, պետք է ընդամենը մեր `pd.read_excel()` ֆունկցիայի `names` արգումենտին տանք մեր նոր գեներացված զանգվածը։

In [193]:
df = pd.read_excel("data/arm-salaries.xlsx", sheet_name=0, header=None, usecols="C,E:AD", index_col=0, skiprows=7, skipfooter=6, names=quarters)
df

,2018-01-01,2018-04-01,2018-07-01,2018-10-01,2019-01-01,2019-04-01,2019-07-01,2019-10-01,2020-01-01,2020-04-01,...,2022-01-01,2022-04-01,2022-07-01,2022-10-01,2023-01-01,2023-04-01,2023-07-01,2023-10-01,2024-01-01,2024-04-01
,,,,,,,,,,,,,,,,,,,,,
Yerevan city,188884,188593,193130,207216,193207,197943,200881,212948,209610,198574,...,238819,249810,271443,301800,300560,293342,301610,329607,324233,309877
Aragatsotn,104323,103730,106092,107954,110529,109975,113474,119932,116662,115658,...,124322,129307,132911,141398,137561,140535,146141,167702,156589,155176
Ararat,118163,120553,128128,130694,157228,170059,168916,175153,171310,182106,...,180577,189695,196975,207485,198541,204533,198361,208910,200997,206424
Armavir,125511,128340,125804,136065,128932,131208,133198,146636,139350,133326,...,140507,146729,148252,158486,156817,165157,171613,182063,168715,176905
Gegharkunik,108588,107001,108293,112507,110984,111312,114544,120846,122007,117600,...,124227,125142,128663,133657,132647,133386,137430,150653,141040,141849
Lori,118884,110818,110855,115907,111903,115811,134435,134124,128821,122077,...,136011,134507,138888,140372,142470,145933,153574,164651,159218,158237
Kotayk,131135,127095,131562,140401,132389,134260,135225,147271,142433,138968,...,153014,158825,164058,178218,169871,174184,179328,197346,185618,187377
Shirak,104962,106082,106319,110836,105595,108162,112190,117278,115396,114309,...,120909,123279,129402,136737,131495,139023,143448,153295,141238,148926
Syunik,205894,237152,226752,266506,245072,271251,156143,293454,264447,282591,...,272296,343063,276580,325334,272527,366044,292386,347642,294704,349924
Vayots Dzor,112407,119450,119695,120883,122376,125110,127518,131555,132278,128354,...,141338,145302,157414,169828,159952,164200,174365,184603,170935,173904
Tavush,113628,115949,114917,117571,114958,115230,119036,124228,123948,120528,...,127478,134136,150175,176994,191442,198282,194778,212254,202089,200285

Մեր ցանկացած վերջնարդյունքը այն էր, որ սյուներում ունենայինք ամեն մարզի աշխատավարձը, այսինքն անհրաժեշտը նաև շրջել աղյուսակը։ Դա կարող ենք իրականացնել `transpose` ֆունկցիայի միջոցով։

In [194]:
df = df.transpose()
df

,Yerevan city,Aragatsotn,Ararat,Armavir,Gegharkunik,Lori,Kotayk,Shirak,Syunik,Vayots Dzor,Tavush
2018-01-01,188884,104323,118163,125511,108588,118884,131135,104962,205894,112407,113628
2018-04-01,188593,103730,120553,128340,107001,110818,127095,106082,237152,119450,115949
2018-07-01,193130,106092,128128,125804,108293,110855,131562,106319,226752,119695,114917
2018-10-01,207216,107954,130694,136065,112507,115907,140401,110836,266506,120883,117571
2019-01-01,193207,110529,157228,128932,110984,111903,132389,105595,245072,122376,114958
2019-04-01,197943,109975,170059,131208,111312,115811,134260,108162,271251,125110,115230
2019-07-01,200881,113474,168916,133198,114544,134435,135225,112190,156143,127518,119036
2019-10-01,212948,119932,175153,146636,120846,134124,147271,117278,293454,131555,124228
2020-01-01,209610,116662,171310,139350,122007,128821,142433,115396,264447,132278,123948
2020-04-01,198574,115658,182106,133326,117600,122077,138968,114309,282591,128354,120528
2020-07-01,206019,118973,176895,137448,121464,129749,143155,118591,265104,135772,123131
2020-10-01,217517,126372,172567,142556,126594,138371,159703,123091,267112,139659,123934
2021-01-01,215076,118166,166348,137124,121654,133344,145158,116256,266286,139846,118914
2021-04-01,217024,122991,183309,135357,121809,136561,149983,122937,312099,136711,123594
2021-07-01,224411,124277,179872,140609,124099,138602,153093,124159,283719,140708,126828
2021-10-01,241582,137119,191204,151458,132739,150495,167590,128755,309768,146460,134149
2022-01-01,238819,124322,180577,140507,124227,136011,153014,120909,272296,141338,127478
2022-04-01,249810,129307,189695,146729,125142,134507,158825,123279,343063,145302,134136
2022-07-01,271443,132911,196975,148252,128663,138888,164058,129402,276580,157414,150175
2022-10-01,301800,141398,207485,158486,133657,140372,178218,136737,325334,169828,176994
2023-01-01,300560,137561,198541,156817,132647,142470,169871,131495,272527,159952,191442
2023-04-01,293342,140535,204533,165157,133386,145933,174184,139023,366044,164200,198282
2023-07-01,301610,146141,198361,171613,137430,153574,179328,143448,292386,174365,194778
2023-10-01,329607,167702,208910,182063,150653,164651,197346,153295,347642,184603,212254
2024-01-01,324233,156589,200997,168715,141040,159218,185618,141238,294704,170935,202089
2024-04-01,309877,155176,206424,176905,141849,158237,187377,148926,349924,173904,200285

Տպենք միայն մեկ սյան արժեքները։

In [195]:
df['Yerevan city']

2018-01-01    188884
2018-04-01    188593
2018-07-01    193130
2018-10-01    207216
2019-01-01    193207
2019-04-01    197943
2019-07-01    200881
2019-10-01    212948
2020-01-01    209610
2020-04-01    198574
2020-07-01    206019
2020-10-01    217517
2021-01-01    215076
2021-04-01    217024
2021-07-01    224411
2021-10-01    241582
2022-01-01    238819
2022-04-01    249810
2022-07-01    271443
2022-10-01    301800
2023-01-01    300560
2023-04-01    293342
2023-07-01    301610
2023-10-01    329607
2024-01-01    324233
2024-04-01    309877
Name: Yerevan city, dtype: int64

Սակայն Արագածոտնի մարզի դեպքում, ինչ-որ պատճառով ստանում ենք սխալ։

In [196]:
df['Aragatsotn']

KeyError: 'Aragatsotn'

Սա պայմանավորված է այն հանգամանքով, որ Excel-ի ֆայլում մարզերի անվանումների սկզբում կամ վերջում առկա են բացատներ, որոնք մեզ տեսանելի չեն։

![spaces in column names](images/spaces-in-names.png)

In [199]:
df['Aragatsotn            ']

2018-01-01    104323
2018-04-01    103730
2018-07-01    106092
2018-10-01    107954
2019-01-01    110529
2019-04-01    109975
2019-07-01    113474
2019-10-01    119932
2020-01-01    116662
2020-04-01    115658
2020-07-01    118973
2020-10-01    126372
2021-01-01    118166
2021-04-01    122991
2021-07-01    124277
2021-10-01    137119
2022-01-01    124322
2022-04-01    129307
2022-07-01    132911
2022-10-01    141398
2023-01-01    137561
2023-04-01    140535
2023-07-01    146141
2023-10-01    167702
2024-01-01    156589
2024-04-01    155176
Name: Aragatsotn            , dtype: int64

Տեքստի սկզբում և վերջում եղած բացատները կարելի մաքրել `str.strip()` ֆունկցիայի միջոցով։

In [205]:
test_str = '              text              '
test_str

'              text              '

In [206]:
test_str = str.strip(test_str)
test_str

'text'

Սյունակների անվանումների [Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.html) զանգվածը հասանելի է `df.columns`-ի միջոցով։

In [207]:
df.columns

Index(['Yerevan city', 'Aragatsotn            ', 'Ararat     ', 'Armavir',
       'Gegharkunik', 'Lori   ', 'Kotayk', 'Shirak', 'Syunik', 'Vayots Dzor',
       'Tavush'],
      dtype='object', name='')

Անհրաժեշտ է 

1. այս զանգվածի ամեն անդամի վրա կանչել `str.strip` ֆունկցիան,
2. ստանալ նոր զանգված մաքրված անվանումներով,
3. `df.columns`-ին վերագրել նոր զանգվածը։

Index զանգվածի վրա կանչելով `.map()` ֆունկցիան կարող ենք նրան որպես արգումենտ տալ կամայական այլ ֆունկցիա և կանչել այն զանգվածի ամեն անդամի վրա։

In [210]:
df.columns = df.columns.map(str.strip)
df.columns

Index(['Yerevan city', 'Aragatsotn', 'Ararat', 'Armavir', 'Gegharkunik',
       'Lori', 'Kotayk', 'Shirak', 'Syunik', 'Vayots Dzor', 'Tavush'],
      dtype='object', name='')

Այսպիսով ավարտեցինք տվյալների մշակման փուլը և կարողեն սկսել վերլուծել դրանք։

## Տվյալների վերլուծում

*Առկա տվյալներով հաշվենք հայաստանում միջին աշխատավարձը ամեն եռամսյակի համար։*

`df.mean()` ֆունկցիայի միջոցով կարող ենք հաշվել միջին արժեք, ըստ տողերի և սյունակների։ Ըստ սյուների միջին արժեք հաշվելու համար կարող ենք ֆունկցիան կանչել առանց արգումենտների։ Սա համապատասցանում է `axis` արգումենտի `0` արժեքին և թելադրում է ֆունկցիային, որ գործողությունը պետք է իրականացնել ըստ սյուների

In [137]:
df.mean()

Yerevan city              239758.307692
Aragatsotn                126456.500000
Ararat                    176346.269231
Armavir                   145698.692308
Gegharkunik               124259.038462
Lori                      134793.000000
Kotayk                    154894.615385
Shirak                    123179.615385
Syunik                    280532.692308
Vayots Dzor               143100.884615
Tavush                    143017.538462
dtype: float64

Ըստ տողերի միջին արժեք հաշվելու համար, պետք է `axis` արգումենտին տալ `0` արժեքը։ Սա կհամապատասխանի հայաստանում միջին աշխատավարձին տվյալ եռամսյակում։

In [138]:
df.mean(axis=1)

2018-01-01    130216.272727
2018-04-01    133160.272727
2018-07-01    133777.000000
2018-10-01    142412.727273
2019-01-01    139379.363636
2019-04-01    144574.636364
2019-07-01    137778.181818
2019-10-01    156675.000000
2020-01-01    151478.363636
2020-04-01    150371.909091
2020-07-01    152391.000000
2020-10-01    157952.363636
2021-01-01    152561.090909
2021-04-01    160215.909091
2021-07-01    160034.272727
2021-10-01    171938.090909
2022-01-01    159954.363636
2022-04-01    170890.454545
2022-07-01    172251.000000
2022-10-01    188209.909091
2023-01-01    181262.090909
2023-04-01    193147.181818
2023-07-01    190275.818182
2023-10-01    208975.090909
2024-01-01    195034.181818
2024-04-01    200807.636364
dtype: float64

Այս արդյունքի վրա կանչելով `.round()` ֆունկցիան կկլորացնենք արժեքները։

In [139]:
df.mean(axis=1).round()

2018-01-01    130216.0
2018-04-01    133160.0
2018-07-01    133777.0
2018-10-01    142413.0
2019-01-01    139379.0
2019-04-01    144575.0
2019-07-01    137778.0
2019-10-01    156675.0
2020-01-01    151478.0
2020-04-01    150372.0
2020-07-01    152391.0
2020-10-01    157952.0
2021-01-01    152561.0
2021-04-01    160216.0
2021-07-01    160034.0
2021-10-01    171938.0
2022-01-01    159954.0
2022-04-01    170890.0
2022-07-01    172251.0
2022-10-01    188210.0
2023-01-01    181262.0
2023-04-01    193147.0
2023-07-01    190276.0
2023-10-01    208975.0
2024-01-01    195034.0
2024-04-01    200808.0
dtype: float64

Որպեսզի այս արժեքը ավելացնենք, որպես նոր սյուն մեր աղյուսակում, պարզապես պետք է այն վերագրենք նոր սյանը, նույն կերպ ինչ վերագրում ենք նոր արժեք ՝ `df['Armenia'] = df.mean(axis=1).round()`։

In [216]:
df['Armenia'] = df.mean(axis=1).round()
df

,Yerevan city,Aragatsotn,Ararat,Armavir,Gegharkunik,Lori,Kotayk,Shirak,Syunik,Vayots Dzor,Tavush,Armenia
2018-01-01,188884,104323,118163,125511,108588,118884,131135,104962,205894,112407,113628,130216.0
2018-04-01,188593,103730,120553,128340,107001,110818,127095,106082,237152,119450,115949,133160.0
2018-07-01,193130,106092,128128,125804,108293,110855,131562,106319,226752,119695,114917,133777.0
2018-10-01,207216,107954,130694,136065,112507,115907,140401,110836,266506,120883,117571,142413.0
2019-01-01,193207,110529,157228,128932,110984,111903,132389,105595,245072,122376,114958,139379.0
2019-04-01,197943,109975,170059,131208,111312,115811,134260,108162,271251,125110,115230,144575.0
2019-07-01,200881,113474,168916,133198,114544,134435,135225,112190,156143,127518,119036,137778.0
2019-10-01,212948,119932,175153,146636,120846,134124,147271,117278,293454,131555,124228,156675.0
2020-01-01,209610,116662,171310,139350,122007,128821,142433,115396,264447,132278,123948,151478.0
2020-04-01,198574,115658,182106,133326,117600,122077,138968,114309,282591,128354,120528,150372.0
2020-07-01,206019,118973,176895,137448,121464,129749,143155,118591,265104,135772,123131,152391.0
2020-10-01,217517,126372,172567,142556,126594,138371,159703,123091,267112,139659,123934,157952.0
2021-01-01,215076,118166,166348,137124,121654,133344,145158,116256,266286,139846,118914,152561.0
2021-04-01,217024,122991,183309,135357,121809,136561,149983,122937,312099,136711,123594,160216.0
2021-07-01,224411,124277,179872,140609,124099,138602,153093,124159,283719,140708,126828,160034.0
2021-10-01,241582,137119,191204,151458,132739,150495,167590,128755,309768,146460,134149,171938.0
2022-01-01,238819,124322,180577,140507,124227,136011,153014,120909,272296,141338,127478,159954.0
2022-04-01,249810,129307,189695,146729,125142,134507,158825,123279,343063,145302,134136,170890.0
2022-07-01,271443,132911,196975,148252,128663,138888,164058,129402,276580,157414,150175,172251.0
2022-10-01,301800,141398,207485,158486,133657,140372,178218,136737,325334,169828,176994,188210.0
2023-01-01,300560,137561,198541,156817,132647,142470,169871,131495,272527,159952,191442,181262.0
2023-04-01,293342,140535,204533,165157,133386,145933,174184,139023,366044,164200,198282,193147.0
2023-07-01,301610,146141,198361,171613,137430,153574,179328,143448,292386,174365,194778,190276.0
2023-10-01,329607,167702,208910,182063,150653,164651,197346,153295,347642,184603,212254,208975.0
2024-01-01,324233,156589,200997,168715,141040,159218,185618,141238,294704,170935,202089,195034.0
2024-04-01,309877,155176,206424,176905,141849,158237,187377,148926,349924,173904,200285,200808.0

Հաճախ չենք ուզում տեսնել ամբողջ աղյուսակի տվյալները, այլ միայն դրա մի հատվածը։ 

`df.tail()` ֆունկցիայի միջոցով կարողենք տպել աղյուսակի վերջին մի քանի տողը։

In [217]:
df.tail()

,Yerevan city,Aragatsotn,Ararat,Armavir,Gegharkunik,Lori,Kotayk,Shirak,Syunik,Vayots Dzor,Tavush,Armenia
2023-04-01,293342,140535,204533,165157,133386,145933,174184,139023,366044,164200,198282,193147.0
2023-07-01,301610,146141,198361,171613,137430,153574,179328,143448,292386,174365,194778,190276.0
2023-10-01,329607,167702,208910,182063,150653,164651,197346,153295,347642,184603,212254,208975.0
2024-01-01,324233,156589,200997,168715,141040,159218,185618,141238,294704,170935,202089,195034.0
2024-04-01,309877,155176,206424,176905,141849,158237,187377,148926,349924,173904,200285,200808.0

`df.head()` ֆունկցիայի միջոցով կարողենք տպել աղյուսակի առաջին մի քանի տողը։

In [218]:
df.head()

,Yerevan city,Aragatsotn,Ararat,Armavir,Gegharkunik,Lori,Kotayk,Shirak,Syunik,Vayots Dzor,Tavush,Armenia
2018-01-01,188884,104323,118163,125511,108588,118884,131135,104962,205894,112407,113628,130216.0
2018-04-01,188593,103730,120553,128340,107001,110818,127095,106082,237152,119450,115949,133160.0
2018-07-01,193130,106092,128128,125804,108293,110855,131562,106319,226752,119695,114917,133777.0
2018-10-01,207216,107954,130694,136065,112507,115907,140401,110836,266506,120883,117571,142413.0
2019-01-01,193207,110529,157228,128932,110984,111903,132389,105595,245072,122376,114958,139379.0

*Դուրս բերենք ամեն եռամսյակի ամենաբարձր աշխատավարձով մարզը և համապատասխան աշխատավարձը։*

`df.max(axis=1)` կանչով, կստանանք առավելագույն արժեքը ամեն տողում, այսինք, տվյալ եռամսյակի առավելագույն աշխատավարձը։ Հիշենք, որ հենց `axis=1` արգումնետի շնորհիվ է, որ գործողությունը իրականացվում է ըստ տողերի։ Դրա բացակայության դեպքում, այն կիրականցվեր ըստ սյուների։

In [219]:
quarter_max_salary = df.max(axis=1).to_frame('Salary')
quarter_max_salary.tail()

              Salary
2023-04-01  366044.0
2023-07-01  301610.0
2023-10-01  347642.0
2024-01-01  324233.0
2024-04-01  349924.0

[.to_frame()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.to_frame.html) ֆունկցիան օգտագործում ենք հաջորդականության օբյեկտը ([Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)) աղյուսակի օբյեկտի վերածելու համար ([DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)) դրա հետ ավելի հեշտ աշխատելու համար։ Այն ընդունում է մեկ արգումենտը, որը նոր աղյուսակում սյան անվանումն է։

Սակայն մեզ նաև անհրաժեշտ է իմանալ, թե որ մարզում էր դիտվել առավելագույն աշխատավարձը։ Դա իրականացնելու համար, ընդամենը անհրաժեշտ է օգտվել `df.idxmax()` ֆունկցիայից, որը վերադարձնում է առավելագույն արժեքի տողի կամ սյան անվանումը, կախված `axis` արգումենտի արժեքից։

In [220]:
quarter_max_salary_region = df.idxmax(axis=1).to_frame('Region')
quarter_max_salary_region.tail()

                  Region
2023-04-01        Syunik
2023-07-01  Yerevan city
2023-10-01        Syunik
2024-01-01  Yerevan city
2024-04-01        Syunik

Վերջապես այս երկու աղյուսակները կարող ենք միացնել, օգտագործելով `.join()` ֆունկցիան։ Եթե կանչենք `df1.join(df2)` ապա `df1` աղյուսակին կկցվի `df2` աղյուսակը և կվերադարձվի նոր աղյուսակ, առանց փոփոխելու `df1`-ը։

In [247]:
max_quarter = quarter_max_salary_region.join(quarter_max_salary)
max_quarter.tail()

                  Region    Salary
2023-04-01        Syunik  366044.0
2023-07-01  Yerevan city  301610.0
2023-10-01        Syunik  347642.0
2024-01-01  Yerevan city  324233.0
2024-04-01        Syunik  349924.0

Ստացված արդյունքը կարող ենք պահպանել Excel ֆորմատով `.to_excel()` ֆունկցիայի միջոցով, սակայն այդ դեպքում եռամսյակներին համապատասխանող ամսաթվերը դժվար ընթեռնելի են։

In [248]:
max_quarter.to_excel('output/arm-salaries-max-bad.xlsx')

![Badly formatted dates](images/bad-date-index.png)

Իրավիճակը կարելի է լավացնել, օգտվելով նույն `.map()` ֆունկցիայից, որով մաքրել էինք մարզերի անվանումներում բացատները, սակայն այս դեպքում, ամսաթիվը կփոխարինենք "տարեթիվ եռամսյակ" տեսքով։

- `//` գործողությունը վերադարձնում է բաժանման գործողության ամբողջ մասը։ `7 // 3 = 2`
- `f"{var} text"`. `f` հատուկ օպերատորը թույլ է տալիս հեշտությամբ միավորել տեքստը և փոփողականները։

In [249]:
def to_quarterly(date):
    quarter = (date.month - 1) // 3 + 1
    return f"{date.year} Q{quarter}"

max_quarter.index = max_quarter.index.map(to_quarterly)
max_quarter.tail()

               Region    Salary
2023 Q2        Syunik  366044.0
2023 Q3  Yerevan city  301610.0
2023 Q4        Syunik  347642.0
2024 Q1  Yerevan city  324233.0
2024 Q2        Syunik  349924.0

Այս արդյունքը հնարավոր է նույնիսկ ավելի բարելավել։ Տարեթիվը կրկնվող է, հետևաբար ավելի լավ կլիներ, որ այն գրվե միան մեկ անգամ և ամեն տարեթիվ ունենար 4 եռամսյակ։ 

<table>
  <tr>
    <td rowspan=4>2018</td>
    <td>Q1</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Q2</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Q3</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Q4</td>
    <td>...</td>
  </tr>
</table>

Սա կարող ենք իրականացնել [pd.MultiIndex.from_tuples()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.from_tuples.html) ֆունկցիայի միջոցով։ Այն որպես արգումենտ ընդունում է զույգերի (`tuple`) զանգված։ Նախ առանձնացնենք եռամսյակները տարեթվերից։ `.split()` ֆունկցիան տեքստը վերածում է զանգվածի բաժանելով այն բոլոր այն կետերում որտեղ կան զանգավածներ։

In [250]:
max_quarter.index.str.split().to_list()

[['2018', 'Q1'],
 ['2018', 'Q2'],
 ['2018', 'Q3'],
 ['2018', 'Q4'],
 ['2019', 'Q1'],
 ['2019', 'Q2'],
 ['2019', 'Q3'],
 ['2019', 'Q4'],
 ['2020', 'Q1'],
 ['2020', 'Q2'],
 ['2020', 'Q3'],
 ['2020', 'Q4'],
 ['2021', 'Q1'],
 ['2021', 'Q2'],
 ['2021', 'Q3'],
 ['2021', 'Q4'],
 ['2022', 'Q1'],
 ['2022', 'Q2'],
 ['2022', 'Q3'],
 ['2022', 'Q4'],
 ['2023', 'Q1'],
 ['2023', 'Q2'],
 ['2023', 'Q3'],
 ['2023', 'Q4'],
 ['2024', 'Q1'],
 ['2024', 'Q2']]

Այնուհետև վերածենք տարթիվը և եռամսյակը պարունակող զանգավածները tuple-ների։ `tuple()` ֆունկցիան, զանգվածը վերածում է tuple-ի։ Այն կարող ենք ազդել զանգվածի ամեն անամի վրա օգտվելով `for`-ի կարճ գրելաձևից։ 
`[func(a) for a in arr]`

In [251]:
[tuple(a) for a in max_quarter.index.str.split().to_list()]

[('2018', 'Q1'),
 ('2018', 'Q2'),
 ('2018', 'Q3'),
 ('2018', 'Q4'),
 ('2019', 'Q1'),
 ('2019', 'Q2'),
 ('2019', 'Q3'),
 ('2019', 'Q4'),
 ('2020', 'Q1'),
 ('2020', 'Q2'),
 ('2020', 'Q3'),
 ('2020', 'Q4'),
 ('2021', 'Q1'),
 ('2021', 'Q2'),
 ('2021', 'Q3'),
 ('2021', 'Q4'),
 ('2022', 'Q1'),
 ('2022', 'Q2'),
 ('2022', 'Q3'),
 ('2022', 'Q4'),
 ('2023', 'Q1'),
 ('2023', 'Q2'),
 ('2023', 'Q3'),
 ('2023', 'Q4'),
 ('2024', 'Q1'),
 ('2024', 'Q2')]

Այս արդյունքը տալով որպես արգումենտ `pd.MultiIndex.from_tuples()` ֆունկցիային և վերգրելով վերադարձվող արժեքը որպես նոր տողերի անվանում `max_quarter.index`-ին, կստանանք ցանկալի արդյունքը։

In [252]:
max_quarter.index = pd.MultiIndex.from_tuples([tuple(a) for a in max_quarter.index.str.split().to_list()])
max_quarter.tail()

               Region    Salary
2023 Q2        Syunik  366044.0
     Q3  Yerevan city  301610.0
     Q4        Syunik  347642.0
2024 Q1  Yerevan city  324233.0
     Q2        Syunik  349924.0

Պահպանենք այս արդյունքը `arm-salaries-analysis.xlsx` անվանմամբ ֆայլում և դրանում "Max Salary Regions" անվանմամբ թերթում։

In [253]:
max_quarter.to_excel('output/arm-salaries-analysis.xlsx', sheet_name='Max Salary Regions')

![good date index](images/good-date-index.png)

Մեզ հայտնի մեթոդներով այժմ ստեղծենք աղյուսակ որը պարունակում է բոլոր մարզերի համար միջին, առավելագույն և նվազագույն նշված ժամանակահատվածի համար։ Դասավորենք դրանք ըստ միջին աշխատավարձի աճման կարգով։

In [254]:
regions_analysis = df.mean().round().sort_values().to_frame('Average').join(df.min().to_frame('Min')).join(df.max().to_frame('Max'))
regions_analysis

               Average       Min       Max

Shirak        123180.0  104962.0  153295.0
Gegharkunik   124259.0  107001.0  150653.0
Aragatsotn    126456.0  103730.0  167702.0
Lori          134793.0  110818.0  164651.0
Tavush        143018.0  113628.0  212254.0
Vayots Dzor   143101.0  112407.0  184603.0
Armavir       145699.0  125511.0  182063.0
Kotayk        154895.0  127095.0  197346.0
Armenia       162912.0  130216.0  208975.0
Ararat        176346.0  118163.0  208910.0
Yerevan city  239758.0  188593.0  329607.0
Syunik        280533.0  156143.0  366044.0

Այս արդյունքը պահպանենք նույն `arm-salaries-regions.xlsx` անվանմամբ ֆայլում և "Region Analysis" անվանմամբ թերթում։

In [255]:
regions_analysis.to_excel('output/arm-salaries-regions.xlsx', sheet_name='Region Analysis')